{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>
<div class="row">
    {% for prod in product %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ prod.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ prod.name }}</h5>
              <p class="card-text">${{ prod.price }}</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
    </div>
    {% endfor %}
</div>
{% endblock %}